.main_block {
    height: 100vh;
    display: grid;
    align-items: center;
    position: sticky;
    grid-template-rows: 1fr 10fr;
    top: 0;
    right: 0;
    color: #fff;
}

.sections_block {
    
    display: grid;
    align-items: center;
    justify-items: center;
}

.lightbulb_block {
    display: grid;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    background-color: var(--color-light-black);
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.lightbulb_block svg {
    width: 35px;
    height: 35px;
}

.navbar {
    position: sticky;
    right: 0;
    top: 0;
}

.navbar div {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--color-light-black);
    border-radius: 50%;
    padding: 10px;
    margin: 20px 0;
}

.sections_block div svg {
    width: 30px;
    height: 30px;
    color: #fff;
}

.active_route div {
    background-color: var(--color-orange) !important;
}

@media(max-width: 1024px) {
    .main_block {
        display: grid;
        background-color: #2B2A2A;
        grid-template-columns: 1fr 5fr;
        height: 100px;
        bottom: 0;
        left: 0;
        position: sticky;
    }
    .lightbulb_block {
        position: sticky;
        top: 0;
        right: 0;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
    }
    
}