.main_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  width: 100%;
  height: 100vh;
}

@media(max-width: 1024px) {
    .main_block {
      height: 85vh;
      margin-bottom: 100px;
      grid-template-columns: 1fr;
    }
}